@page "/teachers/edit"
@using Microsoft.EntityFrameworkCore
@using Academy2.Models
@inject IDbContextFactory<Academy2.Data.Academy2Context> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Edit</PageTitle>

<h1>Teacher Edit </h1>
<h2>@Teacher?.last_name @Teacher?.first_name @Teacher?.middle_name</h2>
<hr />
@if (Teacher is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div>
            <EditForm method="post" Model="Teacher" OnValidSubmit="UpdateTeacher" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <div class="human-container">
                    <div class="col-md-4">
                        <input type="hidden" name="Teacher.teacher_id" value="@Teacher.teacher_id" />

                        <div class="mb-3 ">
                            <span class="text-danger">*</span>
                            <label for="last_name" class="form-label">last_name:</label>
                            <InputText id="last_name" @bind-Value="Teacher.last_name" class="form-control" aria-required="true" />
                            <ValidationMessage For="() => Teacher.last_name" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <span class="text-danger">*</span>
                            <label for="first_name" class="form-label">first_name:</label>
                            <InputText id="first_name" @bind-Value="Teacher.first_name" class="form-control" aria-required="true" />
                            <ValidationMessage For="() => Teacher.first_name" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="middle_name" class="form-label">middle_name:</label>
                            <InputText id="middle_name" @bind-Value="Teacher.middle_name" class="form-control" />
                            <ValidationMessage For="() => Teacher.middle_name" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <span class="text-danger">*</span>
                            <label for="birth_date" class="form-label">birth_date:</label>
                            <InputDate Type="InputDateType.Date" id="birth_date" @bind-Value="Teacher.birth_date" class="form-control" aria-required="true" />
                            <ValidationMessage For="() => Teacher.birth_date" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">email:</label>
                            <InputText id="email" @bind-Value="Teacher.email" class="form-control" />
                            <ValidationMessage For="() => Teacher.email" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">phone:</label>
                            <InputText id="phone" @bind-Value="Teacher.phone" class="form-control" />
                            <ValidationMessage For="() => Teacher.phone" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="work_since" class="form-label">work_since:</label>
                            <InputDate id="work_since" @bind-Value="Teacher.work_since" class="form-control" />
                            <ValidationMessage For="() => Teacher.work_since" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="rate" class="form-label">rate:</label>
                            <InputNumber id="rate" @bind-Value="Teacher.rate" class="form-control" />
                            <ValidationMessage For="() => Teacher.rate" class="text-danger" />
                        </div>
                    </div>
                    <div class="photo-container">
                        <Photo Human="@Teacher" allow_chenge="true" />
                        <AddDisciplines Teacher="Teacher" />
                        @* <div class="mb-3" style="height:30vh;align-content:center;">
                            <h5>Выберите дисциплину</h5>
                            <InputSelect @bind-Value="discipline" class="form-control">
                                <option disabled selected value="-1"> --- Выберите дисциплину --- </option>
                                @foreach (Discipline d in Disciplines)
                                {
                                    if (TDR.Any(tdr => tdr.discipline == d.discipline_id) || NewDisciplines.Any(nd => nd.discipline == d.discipline_id)) continue;
                                    <option value="@d.discipline_id">@d.discipline_name</option>
                                }
                            </InputSelect>
                            <button type="button" class="btn btn-primary" @onclick="AddDiscipline">Добавить</button>
                            <ul>
                                @foreach (TeacherDisciplineRelation tdr in NewDisciplines)
                                {
                                    <li>@tdr.Discipline.discipline_name @tdr.discipline</li>
                                }
                            </ul>
                            <hr />
                            <ul>
                                @foreach (TeacherDisciplineRelation tdr in TDR)
                                {
                                    <li>@tdr.Discipline.discipline_name</li>
                                }
                            </ul>

                        </div> *@
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/teachers">Back to List</a>
</div>

@code
{
    [SupplyParameterFromQuery]
    private int teacher_id { get; set; }

    [SupplyParameterFromForm]
    private Teacher? Teacher { get; set; }
    // ICollection<Discipline>? Disciplines { get; set; }
    // ICollection<TeacherDisciplineRelation>? TDR { get; set; }
    // List<TeacherDisciplineRelation> NewDisciplines = new List<TeacherDisciplineRelation>();
    // int discipline = 0 - 1;
    // public IBrowserFile? url { get; set; }

    // async Task LoadPhoto(InputFileChangeEventArgs e)
    // {
    //     url = e.File;
    //     MemoryStream ms = new MemoryStream();
    //     await url.OpenReadStream(1024*1024*10).CopyToAsync(ms);
    //     Teacher.photo = ms.ToArray();
    // }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Teacher ??= await context.Teachers.FirstOrDefaultAsync(m => m.teacher_id == teacher_id);
        // Disciplines = await context.Disciplines.ToListAsync();
        // TDR = await context.TeachersDisciplinesRelation.Where(t => t.teacher == teacher_id).ToListAsync();
        if (Teacher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
    // void AddDiscipline()
    // {
    //     if (discipline == -1) return;
    //     TeacherDisciplineRelation newRelation =
    //     new TeacherDisciplineRelation { teacher = teacher_id, discipline = discipline };
    //     newRelation.Teacher = Teacher;
    //     newRelation.Discipline = Disciplines.Where(d => d.discipline_id == discipline).First();
    //     //if(NewDisciplines.Contains(newRelation))
    //     // if (NewDisciplines.Contains(newRelation)) return;
    //     if (NewDisciplines.Any(d => d.discipline == discipline)) return;
    //     NewDisciplines.Add(newRelation);
    //     discipline = -1;
    // }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTeacher()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Teacher!).State = EntityState.Modified;

        // List<TeacherDisciplineRelation> pairs = new List<TeacherDisciplineRelation>();
        // foreach (TeacherDisciplineRelation tdr in NewDisciplines)
        //     pairs.Add(new TeacherDisciplineRelation { teacher = tdr.teacher, discipline = tdr.discipline });
        // {
        //     //tdr.Discipline = null;
        //     //tdr.Teacher = null;
        // }
        
        
        // await context.TeachersDisciplinesRelation.AddRangeAsync(pairs);

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TeacherExists(Teacher!.teacher_id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo($"teachers/details?teacher_id={teacher_id}");
    }

    private bool TeacherExists(int teacher_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Teachers.Any(e => e.teacher_id == teacher_id);
    }
}
