@page "/movies/details"
@using Microsoft.EntityFrameworkCore
@using Movies.Models
@inject IDbContextFactory<Movies.Data.MoviesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>"@movie?.Title" </h1>

<div>
    <h2>Movie details</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <div>
            <div>
                <dl class="row">
                    <dt class="col-sm-2">Title</dt>
                    <dd class="col-sm-10">@movie.Title</dd>
                    <dt>
                       
                        @if (movie.Img != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(movie.Img)" />
                        }
                        else
                        {
                            <span class="text-muted">No photo</span>
                        }
                        
                    </dt>
                    <dt class="col-sm-2">ReleaseDate</dt>
                    <dd class="col-sm-10">@movie.ReleaseDate</dd>
                    <dt class="col-sm-2">Genre</dt>
                    <dd class="col-sm-10">@movie.Genre</dd>
                    <dt class="col-sm-2">Brief</dt>
                    <dd class="col-sm-10">@movie.Brief</dd>
                    <dt class="col-sm-2">URL</dt>
                    <dd class="col-sm-10">
                    <a href="@movie.URL">@movie.URL</a></dd>   
                </dl>
            </div>
        </div>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Movie? movie;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        movie = await context.Movie.FirstOrDefaultAsync(m => m.Id == Id);

        if (movie is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
