@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Movies.Models
@using Movies.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Movies.Data.MoviesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Movie" style="vertical-align:middle">

    <TemplateColumn Title="Poster" Context="movie">
        <div class="image-container">
            @if (movie.Img != null && movie.Img.Length > 0)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(movie.Img))"
                     alt="photo" />
            }
            else
            {
                <span class="text-muted">Нет фото</span>
            }
        </div>
    </TemplateColumn>

    <TemplateColumn Title="Title">
        <div class="movie-container">
            <a href="@context.URL">@context.Title</a>
        <div class="movie-brief">
            @context.Brief
            </div>
        </div>
    </TemplateColumn>
    @* <PropertyColumn Property="movie => movie.Title" /> *@
    <PropertyColumn Property="movie => movie.ReleaseDate" />
    <PropertyColumn Property="movie => movie.Genre" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> 
        @* <a href="@($"movies/delete?id={movie.Id}")">Delete</a> *@
    </TemplateColumn>
</QuickGrid>

@code {
    private MoviesContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
