@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Movies.Models
@using Movies.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Movies.Data.MoviesContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<div class="controls">
    <form action="/movies" data-enhance="">
        <input type="search" name="TitleFilter" @bind="TitleFilter"/>
        <input type="submit" value="search"/>
    </form>
    <div>
        <label for="items-per-page">Items per page:</label>
        <select id="items-per-page" @bind="pagination.ItemsPerPage" >
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>
    </div>
</div>

<QuickGrid Class="table" Items="FilteredMovies" style="vertical-align:middle;color:whitesmoke;" Pagination="pagination">

    <TemplateColumn Title="Poster" Context="movie">
        <div class="image-container">
            @if (movie.Img != null && movie.Img.Length > 0)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(movie.Img))"
                     alt="photo" />
            }
            else
            {
                <span class="text-muted">Нет фото</span>
            }
        </div>
    </TemplateColumn>

    <TemplateColumn Title="Title" 
        InitialSortDirection="SortDirection.Ascending"
        Sortable="true"
        IsDefaultSortColumn="true"
        SortBy="sortBy">
        <div class="movie-container">
            <a style="color:floralwhite; " href="@context.URL">@context.Title</a>
        <div class="movie-brief">
            @context.Brief
            </div>
        </div>
    </TemplateColumn>
    @* <PropertyColumn Property="movie => movie.Title" /> *@
    <PropertyColumn Sortable="true" Property="movie => movie.ReleaseDate" />
    <PropertyColumn Sortable="true" Property="movie => movie.Genre" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> 
        @* <a href="@($"movies/delete?id={movie.Id}")">Delete</a> *@
    </TemplateColumn>

</QuickGrid>
    <Paginator State="pagination"/>

@code {

    GridSort<Movie> sortBy = GridSort<Movie>.ByAscending(p=>p.Title);

    private MoviesContext context = default!;
    [SupplyParameterFromForm]//Он автоматически заполняет модель данных значениями из полей формы, упрощая обработку отправки данных, относится к TitleFilter
    string? TitleFilter { get; set; }

    int ItemsPerPage { get; set; }

    PaginationState pagination = new PaginationState { ItemsPerPage  = 5};

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    IQueryable<Movie> FilteredMovies => context.Movie.Where(m => m.Title!.Contains(TitleFilter ?? string.Empty));//! - 100% not null, подставляет только не нулевые значения 
}
